<!DOCTYPE html>
<html>
  <head>
    <title>备注信息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
  <body>
<div class="page-header">
  <h1>备注信息</h1>
</div>
<div class="container">
    <div class="panel panel-primary">单页抓取：梁子晨爬虫目前只能爬取当前一页，由梁子晨每日更新，目前咩有更新历史数据；</div>
    <div class="panel panel-success">四大省：前期梁子晨、祁广俊点个网站写的代码爬取的网站</div>
    <div class="panel panel-info">通用爬取：于婷婷、娄程豪爬取的网站</div>
    <div class="panel panel-warning">祁广俊：前期祁广俊单独爬取的网站</div>
    <div class="panel panel-danger">无网址：部分区县有待更新的网站</div>
    <div class="panel panel-primary">娄程豪：属于是网址错误、网址更新超时的网站需要更新并采用通用爬取</div>
    <div class="panel panel-success">不适合单页：表示目前不适合单页抓取的网址，且没有用其他方式爬取过的网站</div>
    <div class="panel panel-info">困难网站：比较麻烦费时的网站，后期抓取</div>
    <div class="panel panel-warning">爬虫二期：除了国家部委、区县部委外需要爬取的网站</div>
</div>
    





    <script src="https://code.jquery.com/jquery.js"></script>
  </body>
</html>